^ContentPage {
    background-color: whitesmoke;
}

^Entry {
    background-color: white;
    border-block: 2;
    border-block-color: #000000;
    border-radius: 10;
}


^Picker {
    background-color: transparent;
}

^DatePicker {
    background-color: transparent;
}